NEXT_PUBLIC_DEVICE_ID=esp32c3_health_001
NEXT_PUBLIC_MQTT_WS_URL=ws://192.168.1.10:9001/mqtt
NEXT_PUBLIC_ENABLE_MOCK=true

TELEGRAM_BOT_TOKEN=8663717580:AAHPvgblot-BQHRvF15qN-ZqMS8-LL_x_ls
TELEGRAM_CHAT_IDS=5032117647